footer {
  background-color: var(--color-bg);
  background: url("../../../assets/othersPics/banner-bg.png");
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}

footer a {
  color: var(--color-light-gray);
}

.footer_logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.social_media {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.social_media a {
  background-color: var(--color-bg-variant);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.social_media a:hover {
  background: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-primary);
}

.copyright {
  margin-bottom: 4rem;
  font-family: "SFmono";
  letter-spacing: 0.1em;
  color: var(--color-light-gray);
}
.rocket_container {
  margin-bottom: 0.5rem;
  position: relative;
}
.rocket_container {
  color: var(--color-light);
}
.rocket-img {
  font-size: 2.5rem;
  margin-bottom: 1.05rem;
}

.rocket-img:hover {
  margin-bottom: 0rem;
}

.rocket_p {
  font-size: 0.75rem;
  margin-top: 0.2rem;
  display: none;
}

.rocket:hover + .rocket_p {
  display: block;
  transition: var(--transition);
}

/* ==================== MEDIA QUERIES (Small DEVICES) ==================== */
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .social_media {
    margin-bottom: 2.6rem;
  }
}
