.about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about_me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
    display: grid;
    place-items: center;
}

.about_me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about_me-image:hover {
    transform: rotate(0);
}

.about_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

span {
    color: #64ffda;
    background-image: linear-gradient(90deg, var(--color-bg-variant), var(--color-white));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    text-decoration: none;
    font-weight: 500;
    transition: background-size 300ms ease;
}

span:hover {
    background-size: 100% 2px;
}


.about_card-content {
    background: var(--color-primary-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about_card-content:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about_icons {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about_card-content h5 {
    font-size: 0.95rem;
}

.about_card-content small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about_content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

/* ==================== MEDIA QUERIES (Medium DEVICES) ==================== */
@media screen and (max-width: 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about_me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about_card-content p {
        margin: 1rem 0 1.5rem;
    }
}

/* ==================== MEDIA QUERIES (Small DEVICES) ==================== */
@media screen and (max-width: 600px) {
    .about_me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about_card {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about_card-content {
        text-align: center;
    }

    .about_card-content p {
        margin: 1.5rem 0;
    }
}