nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: 70px;
    /* background-color: rgba(10, 25, 47, 0.85); */
    background: transparent;
    backdrop-filter: blur(20px);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    border-bottom: 1px solid var(--color-bg);
}

.nav-text {
    font-size: 32px;
    font-family: "Italianno";
    font-weight: 400;
    font-style: italic;
}

.nav-links a {
    color: #CCD6F6;
}

.nav-links a span {
    color: #64ffda;
    /* word-spacing: 1rem; */
}

.menu {
    font-family: "SFmono";
    display: flex;
    word-spacing: 3px;
    gap: 0.5rem;
    font-size: 14px;
}

.menu li a:hover {
    color: #64ffda;
    transition: var(--transition);
}

.menu li a.active {
    display: inline-block;
    position: relative;
    color: #64ffda;
}

.menu li a.active::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu li a.active:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu li {
    padding: 12px 20px;
}

.menu .nav_btn {
    color: #64ffda;
    font-family: "SFmono";
    display: flex;
    gap: 0.75rem;
    padding: 12px 20px;
    font-size: 14px;
    border: 0.5px solid #64ffda;
    border-radius: 5px;
}

.menu .nav_btn:hover {
    background-color: #0a4447;
    opacity: 85%;
}

input[type=checkbox]{
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* ==================== MEDIA QUERIES (Medium & small DEVICES) ==================== */
@media screen and (max-width: 1024px) {
    nav {
        background-color: rgba(10, 25, 47, 0.85);
    }

    .menu { 
        display:none;
        position: absolute;
        background-color: rgba(10, 25, 47, 0.85);
        /* background-color:teal; */
        height: 100vh;
        right: 0;
        font-size: larger;
        left: 0;
        text-align: center;
        padding: 16px 0;
    } 

    .menu li {
        margin: 12px 0;
    }

    .menu li:hover {
        color: #64ffda;
    }

    .nav_btn {
        justify-content: center;
        margin-top: 2rem;
        margin-left: 40%;
        margin-right: 40%;
    }

    .menu li + li {
        margin-top: 12px;
    }

    ul > label {
        cursor: pointer;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
    }

    input[type=checkbox]:checked ~ label {
        transform: skewX(45deg);
        transition: all .2s linear;
    }

    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 641px) {
    nav {
        padding: 0 30px;
    }
    
    .nav_btn {
        margin-left: 35%;
        margin-right: 35%;
    }
}

@media screen and (max-width: 375px) {
    nav {
        padding: 0 20px;
    }

    .nav_btn {
        margin-left: 30%;
        margin-right: 30%;
    }
}