nav {
    background: #2c2c57;
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-white);
    font-size: 1.5rem;
}

nav a:hover {
    background: var(--color-bg);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
    border: 1px solid var(--color-bg);
}