.githubRepo_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.githubRepo_item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.githubRepo_item:hover {
    background-color: var(--color-primary-variant);
    background: transparent;
    border: 1px solid var(--color-bg-variant);
}

.gitProject_item_image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 300px;
}

.githubRepo_item h3 {
    margin: 1.2rem 0 2rem;
}

.githubRepo_item_cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ==================== MEDIA QUERIES (Medium DEVICES) ==================== */
@media screen and (max-width: 1024px) {
    .githubRepo_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ==================== MEDIA QUERIES (Small DEVICES) ==================== */
@media screen and (max-width: 600px) {
    .githubRepo_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}