/* @import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");



@font-face {
  font-family: "San Francisco";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "Italianno", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
} */

@font-face {
  font-family: "default";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff")
    format("woff");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "default";
  cursor: none;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #ffffff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-light-gray: #dbdbdb;
  --color-neon: #64ffda;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  min-height: 100%;
  width: 100vw;
}

body {
  font-family: "default";
  background: var(--color-bg-variant);
  color: var(--color-white);
  line-height: 1, 7;
  background-image: url("./assets/othersPics/bgTexturn2.png");
}

/* ==================== GENERAL STYLES ==================== */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h5 {
  font-size: 1rem;
}

section > h2 {
  color: var(--color-primary);
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ==================== MEDIA QUERIES (MEDIUM DEVICES) ==================== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ==================== MEDIA QUERIES (SMALL DEVICES) ==================== */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-ms);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
